* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h2, th {
    color: #696969;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.buttonBlue {
    border: none;
    width: 20rem;
    padding: 15px 32px;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: #095a80;
    text-align: center;
    text-decoration: none;
    
  }
  
  .buttonGreen {
    border: none;
    width: 20rem;
    color: white;
    background-color: #328ba8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .buttonOrange {
    border: none;
    width: 20rem;
    color: #141212;
    background-color: #87CEFA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  table {
  border: none;
  border-collapse: collapse;
  width: 75%;
  
  }
  
  td, th {
  border: none;
  /*text-align: center;*/
  padding: .8rem 9rem;
  font-size: 1.5rem;
  }

  

  p {
      font-size: 1.5rem;
      color: tomato;
      font-weight: 700;
      font-style: italic;
  }
  
  tr {
  border: none;
  
  }

  @media(max-width: 812px) {
     
    h2 {
         font-size: 2rem;
     }

      td, th, p {
        font-size: 1.5rem;
        padding: .8rem;
        margin: 0.5rem;
    }

      
  }

  @media(max-width: 500px) {
    .buttonBlue,
    .buttonGreen,
    .buttonOrange {
        width: 8rem;
        height: 7rem;
        font-size: 1rem;
    }

    h2 {
        font-size: 1.5rem;
        margin: 2rem;
    }
    th {
        font-size: 1rem;
    }

    td, th, p {
        font-size: 1.2rem;
        padding: 0.5rem;
        margin: 2px;
    }

    
  }
